# Environment variables
.env

# Python
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Streamlit secrets
.streamlit/secrets.toml

# MySQL backup files
*.sql.bak